body {
    display: flex;
    --iridescent-opacity: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #2304be, #3b003f, #36047a, #9d2f00);
    overflow: hidden;
}

.iridescent-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: var(--iridescent-opacity, 0);
    mix-blend-mode: overlay;
    background: linear-gradient(to bottom right, #2800ff, #f100ff, #0194e0, #1fe001);
    background-size: 100% 100%;
    pointer-events: none;
    transition: opacity 0.8s ease;
}

#holographic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#webgl-instructions {
    animation: neon-pulse 1.5s infinite alternate;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 45, 52, 0.7);
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    max-width: 300px;
    width: 90%; /* Responsive width */
    box-shadow: 0 0 10px rgba(212, 142, 255, 0.3);
    z-index: 1000;
    text-align: center; /* Center the text inside */
    filter: url('#turbulence');
}

#webgl-instructions h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #D48EFF;
}

#webgl-instructions p {
    margin: 0 0 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
}

#webgl-instructions ol {
    margin: 0;
    padding-left: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
}

#webgl-instructions code {
    background: rgba(212, 142, 255, 0.2);
    padding: 2px 4px;
    border-radius: 3px;
}

#webgl-instructions button {
    z-index: 10;
    padding: 4px 8px;
    font-family: 'Orbitron', sans-serif;
    font-size: 11px;
    width: 60%; /* Reduced width */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #D48EFF, #FF69B4);
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    display: block; /* Ensures the button is a block-level element */
    margin: 10px auto 0; /* Centers the button and adds some top margin */
}


#webgl-instructions button:hover {
    opacity: 0.8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

@keyframes jitter {
    0% {
        box-shadow: 0 0 5px rgba(212, 142, 255, 0.3), 0 0 0 2px rgba(255, 255, 255, 0.1);
    }
    25% {
        box-shadow: 0 0 15px rgba(212, 142, 255, 0.3), 2px 2px 0 1px rgba(255, 255, 255, 0.1);
    }
    50% {
        box-shadow: 0 0 30px rgba(212, 142, 255, 0.3), -2px 2px 0 1px rgba(255, 255, 255, 0.1);
    }
    75% {
        box-shadow: 0 0 10px rgba(212, 142, 255, 0.3), -2px -2px 0 1px rgba(255, 255, 255, 0.1);
    }
    100% {
        box-shadow: 0 0 10px rgba(212, 142, 255, 0.3), 2px -2px 0 1px rgba(255, 255, 255, 0.1);
    }
}

.key-container {
    padding: 30px;
    filter: url('#turbulence');
    animation: jitter 0.9s infinite;
    color: #fff;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(212, 142, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.key-container-wrapper {
    position: relative;
    transform: rotate(3deg);
    transform-origin: top right;
    transition: transform 0.3s ease;
}

.key-container-wrapper:hover {
    transform: rotate(0deg);
}

.screw {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #808080;
    border-radius: 50%;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.screw::before,
.screw::after {
    content: '';
    position: absolute;
    background-color: #606060;
}

.screw::before {
    top: 50%;
    left: 50%;
    width: 8px;
    height: 2px;
    transform: translate(-50%, -50%);
}

.screw::after {
    top: 50%;
    left: 50%;
    width: 2px;
    height: 8px;
    transform: translate(-50%, -50%);
}

.screw-top-left {
    top: 5px;
    left: 5px;
}

.screw-top-right {
    top: 5px;
    right: 5px;
}

.screw-bottom-left {
    bottom: 5px;
    left: 5px;
}

.screw-bottom-right {
    bottom: 5px;
    right: 5px;
}

.screw-top-right {
    background-color: #333;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

.screw-top-right::before,
.screw-top-right::after {
    display: none;
}

.key {
    display: inline-block;
    background: none;
    border: 2px solid #D48EFF;
    filter: url('#turbulence');
    border-radius: 10px;
    padding: 15px 20px;
    margin: 8px;
    font-size: 20px;
    text-align: center;
    color: #D48EFF;
    opacity: 0;
    text-shadow: 0 0 5px #D48EFF;
    box-shadow: 0 0 10px #D48EFF, inset 0 0 10px #D48EFF;
    transition: all 0.3s ease;
    position: relative;
}

.key.active {
    opacity: 0.6;
}

.key.pressed {
    background: #D48EFF;
    color: #fff;
    text-shadow: none;
    opacity: 0.6;
    transform: scale(0.95);
    animation: press-effect 0.3s ease-out,
    neon-flicker 1.5s infinite alternate
    /*fall-effect 1s ease-in-out infinite;*/
}

.key.pressed::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #D48EFF;
    border-radius: 12px;
    animation: border-flicker 0.5s infinite alternate;
}

@keyframes neon-flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 0.6;
        text-shadow: 0 0 5px #D48EFF, 0 0 10px #D48EFF, 0 0 15px #D48EFF;
        box-shadow: 0 0 10px #D48EFF, inset 0 0 10px #D48EFF;
    }
    20%, 24%, 55% {
        opacity: 0.2;
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 1;
        box-shadow: 0 0 5px #D48EFF, 0 0 10px #D48EFF;
    }
    100% {
        opacity: 0.3;
        box-shadow: none;
    }
}

/*@keyframes fall-effect {*/
/*    0%, 100% { transform: translateY(0) scale(0.95); }*/
/*    50% { transform: translateY(10px) scale(0.95); }*/
/*}*/

@keyframes press-effect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.95);
    }
}

.key.thumping {
    animation: thump 558ms ease-in-out infinite, glow 558ms ease-in-out infinite;
}

.invisible {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

@keyframes neon-pulse {
    from {
        box-shadow: 0 0 10px #D48EFF, inset 0 0 10px #D48EFF;
    }

    to {
        box-shadow: 0 0 20px #FF69B4, inset 0 0 20px #FF69B4;
    }
}

@keyframes thump {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 10px #D48EFF, inset 0 0 10px #D48EFF;
    }

    50% {
        box-shadow: 0 0 20px #FF69B4, inset 0 0 20px #FF69B4;
    }
}

.button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

#start-audio,
#reset-melody {
    position: relative;
    z-index: 10;
    filter: url('#turbulence');
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #D48EFF, #FF69B4);
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.5);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#start-audio:hover,
#reset-melody:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 25px rgba(255, 105, 180, 0.8);
}

#start-audio:active,
#reset-melody:active {
    transform: translateY(1px);
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.5);
}

.volume-label {
    position: absolute;
    filter: url('#turbulence');
    top: 20px;
    left: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    color: #D48EFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.7;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px #D48EFF;
    animation: pulse-opacity 10s infinite alternate;
}

.volume-label::before {
    margin-right: 5px;
}

.volume-label:hover {
    opacity: 1;
    text-shadow: 0 0 10px #D48EFF, 0 0 20px #D48EFF;
}

.volume-label.active {
    animation: neon-pulse 1.5s infinite alternate;
}

.version-label {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    color: #D48EFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.7;
    transition: all 0.3s ease;
    text-shadow: 0 0 5px #D48EFF;
    animation: pulse-opacity 4s infinite alternate;
}

.version-label::before {
    margin-right: 5px;
}

.version-label:hover {
    opacity: 1;
    text-shadow: 0 0 10px #D48EFF, 0 0 20px #D48EFF;
}

.version-label.active {
    animation: neon-pulse 1.5s infinite alternate;
}

@keyframes pulse-opacity {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes horizontal-shift {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }
}

@keyframes vertical-shift {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-2px);
    }

    75% {
        transform: translateY(2px);
    }
}

.glitch-overlay,
.screen-flicker,
.fade-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.glitch-overlay {
    background-color: black;
    opacity: 0;
    z-index: 9999;
    animation: horizontal-shift 0.2s infinite, vertical-shift 0.3s infinite;
}

.screen-flicker {
    z-index: 9998;
    display: none;
}

.fade-out {
    background-color: black;
    opacity: 0;
    transition: opacity 5s;
    z-index: 10000;
}

@keyframes brief-flicker {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(4px, 4px) rotate(1deg);
    }

    40% {
        transform: translate(-4px, -4px) rotate(-1deg);
    }

    60% {
        transform: translate(4px, -4px) rotate(1deg);
    }

    80% {
        transform: translate(-4px, 4px) rotate(-1deg);
    }
}

.screen-shake {
    animation: shake 0.1s cubic-bezier(.36, .07, .19, .97) both;
}

.end-text {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #f0f;
    text-shadow: 0 0 10px #f0f, 0 0 20px #f0f;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 10001;
}

.text-content {
    display: inline-block; /* This allows the content to be shaken without affecting layout */
}

@keyframes badBulb {
    0%, 100% {
        border-color: #D48EFF;
        box-shadow: 0 0 10px #D48EFF, inset 0 0 10px #D48EFF;
    }
    10%, 30%, 70%, 90% {
        border-color: rgba(212, 142, 255, 0.1);
        box-shadow: none;
    }
    20%, 40%, 60%, 80% {
        border-color: #D48EFF;
        box-shadow: 0 0 5px #D48EFF, inset 0 0 5px #D48EFF;
    }
    50% {
        border-color: rgba(212, 142, 255, 0.05);
        box-shadow: none;
    }
}

.key.bad-bulb {
    animation: badBulb 0.2s ease-in-out;
}